$item-column-width: 845px; // used for ul container
$block-width: 190px; // used for li container
$block-height: 68px; // same
$block-margin: 5px; // same
$item-height: $block-height - 4px; // used for li > div container
$link-text-indent: -10000px; // used for link container
$block-z-index: 10; // used for link container