// Form container
$fr-container-padding-top: 50px;
$fr-container-padding-bottom: 50px;
// Form
$fr-padding-left: 27px;
$fr-padding-right: 27px;
// Form separator
$fr-form-sp-font-size: 23px;
$fr-form-sp-padding: 0 8px;
$fr-form-sp-top: 7px;
// Form link
$fr-link-size: 12px;