.form-container {
  margin-top: 200px;
}

.fr-login-form {
  background-color: $c-greed-odd;
  .fr-form-container {
    padding-top: $fr-container-padding-top;
    padding-bottom: $fr-container-padding-bottom;

    form {
      padding-left: $fr-padding-left;
      padding-right: $fr-padding-right;

      h4 {
        text-transform: uppercase;
        font-weight: bold;
        color: $c-black;
      }
      .fr-form-separator {
        color: $c-disabled;
        font-size: $fr-form-sp-font-size;
        padding: $fr-form-sp-padding;
        margin: 0;
        position: relative;
        line-height: 0;
        top: $fr-form-sp-top;
      }
      a {
        color: $c-black;
        text-decoration: underline;
        font-size: $fr-link-size;
      }
      button.btn{
        float: right;
      }
    }

    .fr-form-create-account {
      border-left: 1px solid $c-black;
    }
  }

}

